.pannel {
  background-color: #d2cfc7;
  display: block;

  margin: 0 auto;
  margin-bottom: 32px;
  /* padding: 32px; */

  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 30%);
  border-radius: 4px;

  /* opacity: 1; */
  /* transition: 0.2s; */
  
  overflow: hidden;
  min-width: 0;

  font-family: 'Cascadia Code Extralight', 'Source Han Sans Light', 'Noto Sans SC', 'Noto Sans JP';
}

.filter-header {
  display: flex;
  flex-direction: row;
}

.tags-filter {
  display: block;
  padding: 32px;
  max-width: 240px;
}

.mat-chip {
  color: #3e5d58;
  background-color: #d2cfc7;

  box-shadow: 0 2px 5px #3e5d58;
  box-shadow: 0 2px 1px rgb(0 0 0 / 10%);

  font-size: large;
}

.clear-button {
  background-color: #3e5d58;
  color: #d2cfc7;
}