<div class="content-list">
  <div class="content-list-item" *ngFor="let contentMeta of contentIndex">
    <a [routerLink]="['/blog', contentMeta.path]"
      [title]="contentMeta.title"
      >
      {{ contentMeta.title }}
    </a>
    <p>{{contentMeta.date}}</p>
  </div>

  <div class=page-index>
    <div class="page-index-list" *ngFor="let pageIndex of pageIndexList">
      <button class="page-index-item" (click)="jumpPage(pageIndex)" title="menu" id="menuButton">
        {{pageIndex}}
      </button>
    </div>
  </div>
</div>