<mat-toolbar class="toolbar" color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
    (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Blog</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container [hasBackdrop]="false">
  <mat-sidenav class="side-nav" #sidenav [mode]="'side'">
    <app-sidenav></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <section class="sidenav-content-container">

      <main class="main-container">
        <router-outlet></router-outlet>
      </main>

      <div class="side-column" *ngIf="true">
        <app-pannel></app-pannel>
      </div>

    </section>
  </mat-sidenav-content>
</mat-sidenav-container>



<mat-slider min="1" max="100" step="1" value="50"></mat-slider>

<br>
<button class="tag-button" type="button" mat-raised-button>
  Basic button
</button>

<!-- 
<mat-chip-list aria-label="Fish selection" >
  <mat-chip>One fish</mat-chip>
  <mat-chip selected>Two fish</mat-chip>
  <mat-chip color="primary" >Primary fish</mat-chip>
  <mat-chip color="primary" selected>Primary fish</mat-chip>
  <mat-chip color="accent" selected>Accent fish</mat-chip>
</mat-chip-list>
 -->