.sidenav-item {
  display: block;
  cursor: pointer;
  font-size: 3.2rem;

  font-family: 'Cascadia Code Extralight';

}

.sidenav-item a {
  display: block;
  padding: 16px;  /*padding可以点击 margin不行*/
  text-decoration: none;
}

