
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$botanical: (
  darkGreen: #3e5d58,
  oldLight: #829796,
  lightGreen: #92aca0,
  standard: #dde5ed,
  sand: #d2cfc7,
  padLight: #d3e9ea,
  padDark: #29413c,
  leaf: #496977,
  unknown: #92a
);

$dmg: (
  darkGray: #8f8b90,
  lightGray: #cac4c0,
  blue: #3c398a,
  red: #ad2060
);

$minimal: (
  light: #f7f2ea,
  red: #eb4a5c,
  green: #a9ca59,
  blue: #1c98bc,
  dark: #171718
);

$birch: (
  soya: #ede3da,
  birch: #efd0b2,
  navy: #3c5c6c
);

$fleuriste: (
  ral9001: #e9e0d2,
  ral1015: #e6d2b5,
  ral4006: #903373,
  ral6036: #04574b
);

$art: (
  ral9001: #e9e0d2,
  blue: #7ba6de,
  rose: #af3358,
);

$lazurite: (
  blue: #1a3a78,
  yellow: #ba8f4c,
  white: #e1dbd1
);

$dandy: (
  white: #eee2d0,
  green: #768e72,
  yellow: #e5a100
);

$bento: (
  white: #eee2d0,
  blue: #4c86a0,
  red: #f27379
);

$samurai: (
  red: #651d32,
  blue: #003057,
  yellow: #b9975b,
  dark: #25282a
);

$kaiju: (
  light: #d6c2c4,
  red: #fa4616,
  green: #1a594e
);

$gmk9009: (
  lightGray: #d8d2c3,
  darkGray: #aca693,
  green: #768e72,
  red: #c87e74
);

$muted: (
  lightGray: #d9d9d6,
  darkGray: #b1b3b3,
  cyan: #b1e4e3,
  purple: #c5b4e3,
  red: #c87e74,
  green: #7fa580
);

$earthTones: (
  human: #eec8a3,
  land: #9e6936,
  water: #0d7c90
);

$wasabi: (
  dark: #171718,
  green: #7fa580,
  red: #c87e74
);

$honor: (
  light: #f7f2ea,
  dark: #666a78
);

$dots: (
  white: #f7f2ea,
  black: #121520,
  red: #f6464d,
  orange: #ff9352,
  yellow: #ffd453,
  green: #51ca8d,
  blue: #46c6f6,
  purple: #9267ff
);

$dracula: (
  black: #282a36,
  carbon: #44475a,
  pink: #ff79c6,
  purple: #bd93f9,
  blue: #8be9fd,
  yellow: #f1fa8c,
  green: #50fa7b,
  red: #ff5555
);

$carbon: (
  light: #e3d5b9,
  dark: #464746,
  orange: #e86700
);



$fc: (
  red: #a03738,
  white: #e5d9c7,
  black: #0a0a0a
);

$azure: (
  white: #eae9e6,
  azure: #0d5465,
  red: #cc4038
);

$wahtsy: (
  white: #f7f7f7,
  yellow: #f0a651,
  blue: #336fa1
);

$ember: (
  white: #f0eae0,
  yellow: #d7b262,
  green: #85a34c,
  gray1: #656258,
  gray2: #68655b,
  black: #3b3d39
);

$monster: (
  black: #111416,
  darkBlue: #14303d,
  lightBlue: #89e0eb
);

$fish: (
  white: #f1f1fe,
  lightBlue: #acb4d2,
  darkBlue: #8289ab,
);

$salmon: (
  white: #f5f5f4,
  lightBlue: #c3d4e0,
  salmon: #ff5d34
);

$salon: (
  darkGreen: #3b4433,
  lightGreen: #afc999,
  light: #e1dacf
);

$horseman: (
  ral1015: #e6d2b5,
  ral8023: #a45729,
  ral8028: #513a2a
);


$botanical-palette: (
  50: #e7f2ee,
  100: #cedcd4,
  200: #b0c4bb,
  300: #92aca0,
  400: #7b998b,
  500: #658778,
  600: #597769,
  700: #486257,
  800: #394f46,
  900: #3e5d58,
  A100: #cedcd4,
  A200: #b0c4bb,
  A400: #7b998b,
  A700: #486257,
  contrast: (
    50: rgba(#486257, 0.87),
    100: rgba(#486257, 0.87),
    200: rgba(#486257, 0.87),
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: #92aca0,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

// $static-blog-primary: mat.define-palette(mat.$indigo-palette);
$static-blog-primary: mat.define-palette($botanical-palette, 900);
// $static-blog-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$static-blog-accent: mat.define-palette($botanical-palette, A400, A100, A400);

// The warn palette is optional (defaults to red).
$static-blog-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$static-blog-theme: mat.define-light-theme((
  color: (
    primary: $static-blog-primary,
    accent: $static-blog-accent,
    warn: $static-blog-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($static-blog-theme);

